{% extends "layout.html" %}

{% block contents %}
    <div>
        {% if category_list %}
            <h1 style="color: darkcyan">카테고리</h1>
            <a href="{{ url_for('article_list') }}">전체보기</a>
            {% for category in category_list %}
                <a href="{{ url_for('filter_by_category', keyword=category) }}">{{ category }}</a>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div id="main" role="main">
        {% if context.article_list %}
            <ul id="tiles">
                {% for article in context.article_list %}
                    <li>
                        {% if article.photo %}
                            <a href="{{ url_for('photo_get', blob_key=article.photo) }}" data-lightbox="{{ article.id }}" data-title="{{ article.title }}">
                                <img src="{{ url_for('photo_get_thumbnail', blob_key=article.photo) }}" alt="" />
                            </a>
                        {% endif %}
                        <h1><a href="{{ url_for('article_detail', article_id=article.id) }}">{{ article.title }}</a></h1>
                        <h3>{{ article.author }}</h3>
                        <h6>{{ article.date_created.strftime('%m/%d %H:%M') }}</h6>
                        <p>{{ article.content|safe }}</p>
                        <a href="{{ url_for('article_like', article_id=article.id) }}" class="btn btn-info">+{{ article.like }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-list">
                글이 존재하지 않습니다. 새로운 글을 등록해주세요.
            </div>
        {% endif %}
    </div>
{% endblock %}