{% extends "layout.html" %}

{% block contents %}
    <div class="llArticleList">
        {% if context.article_list %}
            {% for article in context.article_list %}
                <div class="well" article_id="article_{{ article.id }}">
                    <h1><a href="{{ url_for('article_detail', article_id=article.id) }}">{{ article.title }}</a></h1>
                    <h3>{{ article.author }}</h3>
                    <h6>{{ article.date_created.strftime('%m/%d %H:%M') }}</h6>
                    <p>{{ article.content|safe }}</p>
                    <a href="{{ url_for('article_like', article_id=article.id) }}" class="btn btn-info">+{{ article.like }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-list">
                글이 존재하지 않습니다. 새로운 글을 등록해주세요.
            </div>
        {% endif %}
    </div>
{% endblock %}