.no-list {
    padding: 10px;
    text-align: center;
}

.float-right {
    float: right;
}

.bottomButtons {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}

.llCommentList {
    margin: 10px 0px 0px 0px;
}

.btn_ex {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px
}