.no-list {
    padding: 10px;
    text-align: center;
}

.float-right {
    float: right;
}

.bottomButtons {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    text-align: center;
}

.llCommentList {
    margin: 10px 0px 0px 0px;
}

.btn_ex {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px
}

#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
    padding: 0;
}

/**
 * Grid items
 */
#tiles li {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 4px;
}

#tiles li.inactive {
    visibility: hidden;
    opacity: 0;
}

#tiles li img {
    width: 190px;
    display: block;
}

/**
 * Grid item text
 */
#tiles li p {
    color: #666;
    font-size: 13px;
    line-height: 20px;
    font-weight: 200;
    margin: 7px 0 2px 7px;
}

footer {
    text-align: center;

}

footer a {
    color: #435DC5;
    text-decoration: none;
}
